<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Autofac.Extras.Moq" version="3.1.0" targetFramework="net45" />
  <package id="AutoFixture" version="3.30.8" targetFramework="net45" />
  <package id="AutoFixture.AutoFoq" version="3.30.8" targetFramework="net45" />
  <package id="AutoFixture.AutoMoq" version="3.19.2" targetFramework="net45" />
  <package id="AutoFixture.AutoMoq.AutoSetup" version="1.3.0.0" targetFramework="net45" />
  <package id="AutoFixture.NUnit2" version="3.19.2" targetFramework="net45" />
  <package id="AutoMoq" version="1.6.2.0" targetFramework="net45" />
  <package id="Foq" version="1.5.1" targetFramework="net45" />
  <package id="Moq" version="4.2.1506.2515" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net45" />
  <package id="Unity" version="2.0" targetFramework="net45" />
</packages>